@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

:root {
  --color-primary: hsl(33, 100%, 50%);
  --color-secondary: hsl(199, 100%, 46%);
  --color-dark-grey: hsl(0, 0%, 20%);
  --color-grey: hsl(240, 5%, 84%);
  --color-white: hsl(0, 0%, 100%);
}
 /* * {
  border: 2px solid red;
} */

body {
  background-color: var(--color-dark-grey);
  color: var(--color-white);
  display: flex;
  font-family: 'Roboto', sans-serif;
}

/* NAV */
nav {
  align-items: center;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  font-weight: 500;
  height: 100vh;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 20%;
}

.nav__img {
  margin: 3rem 0 .5rem;
  width: 25%;
}

.list {
  padding-top: 2rem;
}

.list__item {
  padding-bottom: 1rem;
}

/* rotate chart image since I couldn't find a Kanban icon */
.fa-square-poll-vertical {
  transform: rotate(180deg);
}