@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

:root {
  --color-primary: hsl(33, 100%, 50%);

  --bg-primary: hsl(199, 100%, 46%);

  /* grey 333 */
  --color-dark-grey: hsl(0, 0%, 20%);
  --color-white: hsl(0, 0%, 100%);
}


body {
  font-family: 'Roboto', sans-serif;
}