{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
<form action="/login" method="POST">
  <div class="login__heading">
    <img class="nav__img" src="/static//favicon.png" alt="">
    <h2 class="nav__title">Tracker Flow</h2>
  </div>

  <p class="login__text">Click for easy access in demo mode:</p>

  <!-- login as admin -->
  <input type="text" class="hidden" name="username" value="dev">
  <button type="submit" class="login__btn">Login Admin</button>

  <!-- login as a dev -->
  <input type="text" class="hidden" name="username" value="admin">
  <button type="submit" class="login__btn">Login Developer</button>
</form>

{% endblock %}